.App {
  text-align: center;
  background-color: white;
}
.logoOnPhone{
  display: block;
}
.logoOnDesktop{
  display: none;
}
ul {
  list-style-type: none;
}
a{color:black;}
.load-animation{
  height:15vmin;
}
footer{
  border-top:1px solid black;
}
* {
  box-sizing: border-box;
}
.parent{
  display: flex;
  justify-content: space-between;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.smaller{
  height:9vmin;
  display: block;
  width:20vw;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.insta{
  display: none;
}
@media screen and (min-width: 768px) {
  .smaller {
    width: 30vmin;
    position: relative;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}
@media screen and (min-width: 900px) {
  .insta{
    display:inline-block;
  }
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media screen and (min-width: 992px) {
  .logoOnPhone{
    display: none;
  }
  .logoOnDesktop{
    display: inline-block;
  }
  .center{
    padding:1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smaller {
    height: unset;
    width: 40vmin;

  }
}
