.carousel{
    height: 300px;
    background-color: #f0fbf0;
}
#title{
    display: block;
    position: absolute;
    top:50px;
    background-color: white;
    margin:2%;
    padding:1%;
}
.active{
    height:inherit;
    display: block;
    object-fit:cover;
    background-position: bottom;
}
img{
    width:100%;
    display: none;
}
@media screen and (min-width: 768px) {
    .carousel {
        height: 350px;
    }
}